/* css reset  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#big{
    padding-top: 100px;
}
#bg{
    background-image: url(./images/watercolor-795162_1280.jpg);
}
body{
    height: 100vh;
    /* background: radial-gradient(yellow, #ff4400); */
    background-size: cover;
    background-repeat: no-repeat;
    background: radial-gradient(#f9f6f5 , #101000);
    
}